<a href="https://colab.research.google.com/github/iam-ajeetsingh/ETL_pipelines/blob/main/Simple_ETL_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PROJECT : Simple ETL Pipeline

# Here I am going to implement a simple Python project to get started with building an ETL pipeline.

# Objective of the Project :

#  1. Extracting data from a CSV file,
#  2. Transforming data using pandas(e.g., handle missing values, filter rows.)
#  3. Loading the transformed data into a SQLite database.

# Let's start

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Step 1: Extracting data from a csv file

def extract(file_path):
    print("Extracting data from CSV file...")
    try:
      data = pd.read_csv(file_path)
      print("Data Extraction from csv Successful")
      return data
    except Exception as e:
      print("Data Extraction from csv Failed")
      print(f"Error Message: {e}")
      return None

In [ ]:
# checking data
data= extract('/content/sample.csv')

data.info()
data.head(10)

Extracting data from CSV file...
Data Extraction from csv Successful
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    78 non-null     object
 1   AGE     71 non-null     float64
 2   CITY    72 non-null     object
dtypes: float64(1), object(2)
memory usage: 2.0+ KB

      NAME   AGE           CITY
0    Alice  25.0       New York
1      Bob  17.0    Los Angeles
2  Charlie  30.0        Chicago
3    Diana   NaN  San Francisco
4      Eve  22.0            NaN
5    Frank  19.0        Seattle
6    Grace  28.0          Miami
7     Hank  35.0        Houston
8      Ivy  21.0         Denver
9     Jack  40.0            NaN

In [ ]:
# Step 2: Transform -Clean and Process the data

def transform(data):
    print("Transforming data...")
    try:
      # Handle missing values
      # Drop rows with missing values
      data.dropna(inplace=True)     # directly modify the original data. returns none.saves memory. preferred.
      # data = data.dropna()          # returns the modified dataframe and preserve the original.

      # Filter rows where 'age' is greater than 18. (adding generic criteria)
      if 'age' in data.columns:
        data = data[data['age']>18]    # returns only those rows where age>18 using a boolean mark TRUE/FALSE

      # Rename Columns to lowercase
      data.columns = [col.lower() for col in data.columns]
      #data.columns = data.columns.str.lower()    # Alternate Shortcut #

      print("Data Transformation Successful")
      return data

    except Exception as e:
      print("Data Transformation Failed")
      print(f"Error Message: {e}")
      return None

In [ ]:
transformed_data = transform(data)
transformed_data.info()
transformed_data.head(10)

Transforming data...
Data Transformation Successful
<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 0 to 77
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    65 non-null     object
 1   age     65 non-null     float64
 2   city    65 non-null     object
dtypes: float64(1), object(2)
memory usage: 2.0+ KB

       name   age         city
0     Alice  25.0     New York
1       Bob  17.0  Los Angeles
2   Charlie  30.0      Chicago
5     Frank  19.0      Seattle
6     Grace  28.0        Miami
7      Hank  35.0      Houston
8       Ivy  21.0       Denver
10    Karen  18.0    San Diego
11      Leo  29.0     Portland
12     Mona  24.0    Las Vegas

In [ ]:
# STEP 3: Load - Store the data into a SQLite Database

def load(data, db_name, table_name):
    print("Loading data into SQLite database...")

    try:
      # Connect to the SQLite database (or create it if it doesn't exist)
      conn = sqlite3.connect(db_name)
      cursor = conn.cursor()

      # Write the data to the specified table
      data.to_sql(table_name, conn, if_exists='replace', index=False)

      #Verify the data is loaded
      cursor.execute(f"SELECT * FROM {table_name} LIMIT 5")
      result = cursor.fetchall()
      for row in result:
        print(row)
      print("Data Loading  Successful")

      # close the connection
      conn.close()

    except Exception as e:
      print("Data Loading Failed")
      print(f"Error Message: {e}")

In [ ]:
load(transformed_data, 'mydatabase.db', 'mytable')

Loading data into SQLite database...
('Alice', 25.0, 'New York')
('Bob', 17.0, 'Los Angeles')
('Charlie', 30.0, 'Chicago')
('Frank', 19.0, 'Seattle')
('Grace', 28.0, 'Miami')
Data Loading  Successful

In [ ]:
# Creating Main Function to run the ETL Pipeline

def etl_pipeline():
    print("ETL Pipeline Started")

    # File path of csv file
    file_path = '/content/sample.csv'

    # Database and Table Names
    db_name = 'etl_pipeline.db'
    table_name = 'etl_processed_data'

    # Run the ETL Steps
    data = extract(file_path)
    if data is not None:
      transformed_data = transform(data)
      if transformed_data is not None:
        load(transformed_data, db_name, table_name)

    print("ETL Pipeline Completed")



# Run the ETL Pipeline

if __name__ == "__main__":
  etl_pipeline()

ETL Pipeline Started
Extracting data from CSV file...
Data Extraction from csv Successful
Transforming data...
Data Transformation Successful
Loading data into SQLite database...
('Alice', 25.0, 'New York')
('Bob', 17.0, 'Los Angeles')
('Charlie', 30.0, 'Chicago')
('Frank', 19.0, 'Seattle')
('Grace', 28.0, 'Miami')
Data Loading  Successful
ETL Pipeline Completed